---
import '../styles/glabal.css'; 
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Benefits from '../components/Benefits.astro';
import HowItWorks from '../components/HowItWorks.astro';
import Testimonials from '../components/Testimonials.astro';
import CTA from '../components/CTA';
import FAQ from '../components/FAQ'
import Carousel from "../components/Carousel";
import SpecialOffer from '../components/SpecialOffer'
import OurServices from '../components/OurServices'

---


<Layout title="אקווה גיק - פתרונות מקצועיים לאקווריומים">

	<main dir="rtl" class="w-full mx-auto text-base leading-relaxed text-gray-800">

		<Hero />
		<Carousel client:load/>
		<Benefits />
		<OurServices/>
		<HowItWorks />
		<SpecialOffer/>
		<Testimonials />
		<FAQ client:load/>
		<CTA client:load/>
	</main>
</Layout>

<style>
	main {
		margin: 0 auto;
		width: 100%;
		color: #2d3748;
		font-size: 16px;
		line-height: 1.6;
	}
</style>