---
import '../styles/glabal.css';
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Benefits from '../components/Benefits.astro';
import HowItWorks from '../components/HowItWorks.astro';
import Testimonials from '../components/Testimonials.astro';
import CTA from '../components/CTA';
import FAQ from '../components/FAQ';
import Carousel from '../components/Carousel';
import SpecialOffer from '../components/SpecialOffer';
import OurServices from '../components/OurServices';
import WhatsAppFloat from '../components/WhatsAppFloat.astro';
import ContactDrawer from '../components/ContactDrawer';
import 'aos/dist/aos.css';
---

<Layout title="אקווה גיק - פתרונות מקצועיים לאקווריומים">
	<main dir="rtl" class="mx-auto w-full text-base leading-relaxed text-gray-800">
		<div data-aos="fade-up">
			<Hero />
		</div>
		<div data-aos="fade-up" data-aos-delay="100">
			<Carousel client:only="react" />
		</div>
		<div data-aos="fade-up" data-aos-delay="100">
			<Benefits />
		</div>
		<div data-aos="fade-up" data-aos-delay="100">
			<OurServices client:load />
		</div>
		<div data-aos="fade-up" data-aos-delay="100">
			<SpecialOffer client:load />
		</div>
		<div data-aos="fade-up" data-aos-delay="100">
			<HowItWorks />
		</div>
		<div data-aos="fade-up" data-aos-delay="100">
			<Testimonials />
		</div>
		<div data-aos="fade-up" data-aos-delay="100">
			<FAQ client:load />
		</div>
		<div data-aos="fade-up" data-aos-delay="100">
			<CTA client:load />
		</div>
		<WhatsAppFloat />
		<ContactDrawer client:only="react" triggerText="צור קשר" buttonClassName="bg-primary text-white px-4 py-2 rounded-lg hover:bg-primary-dark transition-colors duration-300" />
	</main>
</Layout>

<style>
	main {
		margin: auto;
	}
</style>

<script>
	import AOS from 'aos';
	AOS.init({
		duration: 1000,
		once: true,
		disable: 'mobile'
	});
</script>